{% extends "base.html" %}
{% block content %}
<div class="card">
    <div class="card-body">
        <h2>Редактировать тип</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.name.label(class="form-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.subgroup_id.label(class="form-label") }}
                {{ form.subgroup_id(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}